header {
  background-color: grey;
  text-align: center;
  padding: 2rem 0;
  color: white;
}

#inputSection div {
    display: grid;
    grid-template-columns: 80px auto;
    margin: 5px 0px;
  }
  .titleDiv {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 140, 37);
  }
  .titleDiv > div {
    margin: 1px 10px;
    min-width: 40vh;
  }
  .ulList {
    display: flex;
    flex-direction: column;
  }
  .dataLi {
    margin: 14px 0px;
    background-color: rgb(163, 185, 192);
  }
  .oneRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .oneRow > div {
    margin: 1px 10px;
    min-width: 40vh;
    flex-direction: row;
  }